.BodyText {

}

.BodyText .Tooltip {
  display: block;
  position: absolute;
  width: 200px;
  z-index: 101;
  background-color: white;
  border: 3px solid #6da5ff;
  padding: 12px 12px 12px 12px;
  text-align: center;
}

.BodyText .Tooltip::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -13px;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent #6da5ff;
}
